* {
  font-size: 100%;
  margin: 0.15rem;
  padding: 0.1rem;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 1rem;
  min-height: 95%;
  background-color: #fefffe;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgb(173, 230, 173);
}

.znackaNody,
.inputNody {
  margin: 0;
  padding: 0.1rem;
  width: 2.5rem;
}
select {
  font-size: 1rem;
}
.znackaNody,
label,
input {
  outline: none;
  font-size: 1.2rem;
  transition: background-color 0.6s;
}
div,
td,
label,
input,
textarea,
select,
a {
  border-radius: 0.3em;
}
.bunkaNody,
.znackaNody {
  font-weight: bold;
  border: 1px solid black;
  background: rgb(241, 249, 241);
}
.inputNody {
  border: unset;
  transition: background-color 0.6s;
}
label {
  user-select: none;
}
table select {
  width: 100%;
}
div {
  background: white;
  width: fit-content;
}
.stylJednaObrys {
  border: 2px solid gray;
}
#nahledKontejner {
  overflow: auto;
  box-sizing: border-box;
}

#nodyKontejner {
  overflow: auto;
  max-height: 10rem;
  max-width: auto;
}

p {
  user-select: none;
  font-size: 1.2rem;
}
h2 {
  width: fit-content;
  user-select: none;
  font-size: 1.5rem;
  border: unset;
  background-color: unset;
}
textarea {
  font-size: 1rem;
  resize: vertical;
}

/* Styly pro označeni nebo najezd na vybrany element. */
input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus,
.navbar a:hover {
  border-color: rgb(153, 153, 255);
  outline: none;
  box-shadow: 0px 0px 6px 1px lightskyblue;
}
.car,
.pozadi,
.budovy {
  display: none;
}
.prepinacHudbyKontejner {
  display: none;
}
.vedleSebe {
  display: inline-block;
}
.krivka {
  font-size: 0.7em;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: rgb(212, 247, 212);
  overflow: hidden;
  display: block;
  margin: 0;
}
.navbar a {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.2em 0.3em;
  display: inline-block;
  margin: 0.1em 1em;
  background-color: white;
}
.navbar select {
  float: right;
  padding: 0.2em 0.3em;
  margin-top: 0.1em;
  margin-right: 1.5em;
}
.navbar label {
  float: right;
}
